<configuration>

    <configSections>
        <section name="ipSettings" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    
    <ipSettings>
        <add key="滑台1" value="192.168.6.92"/>
        <add key="滑台2" value="192.168.6.91"/>
        <add key="滑台3" value="192.168.6.93"/>
    </ipSettings>
</configuration>