<configuration>

    <configSections>
        <section name="ipSettings" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    
    <ipSettings>
        <!-- 滑台上扫码枪的ip -->
        <add key="滑台1" value="192.168.6.92"/>
        <add key="滑台2" value="192.168.6.91"/>
        <add key="滑台3" value="192.168.6.93"/>
        <add key="W02涂胶" value="192.168.6.65"/>
        <add key="W02滚胶" value="192.168.6.66"/>
        <add key="压套筒" value="192.168.6.67"/>
    </ipSettings>
    
    <!-- 数据库连接字符串 -->
    <connectionStrings>
        <add name="SqlServerConn"
             connectionString="Server=127.0.0.1;Database=w02;User Id=sa;Password=123456;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>